# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?


src/api/utils.ts 
src/api/user.ts 
src/api/note.ts 
src/api/client.ts

src/components/FooterLoggedInUser.tsx
src/components/NavbarLoggedInUser.tsx


src/pages/MyNotes.tsx
src/pages/NewNote.tsx
src/pages/SingleNote.tsx 
src/pages/UpdateNote.tsx 
src/pages/UpdatePassword.tsx 
src/pages/UpdateProfile.tsx 
src/pages/UserProfile.tsx
src/pages/DeletedNotes.tsx